body {
  background-color: rgb(102, 155, 188);
  font-family: "sans-serif", monospace;
}

.title {
  background-color: rgb(193, 18, 31);
  color: rgb(253, 240, 213);
  text-align: center;
  border-radius: 10px;
  width: 500px;
  margin: 20px auto;
}

.recipe-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.recipe,
.home-pg-btn {
  text-decoration: none;
  text-align: center;
  line-height: 3;
  color: rgb(253, 240, 213);
  border-radius: 10px;
  font-weight: bolder;
}

.recipe:link,
.recipe:visited,
.recipe:focus,
.home-pg-btn:link,
.home-pg-btn:visited,
.home-pg-btn:focus {
  background: rgb(0, 48, 73);
}

.recipe:hover,
.home-pg-btn:hover {
  background: rgb(0, 18, 25);
}

.recipe:active,
.home-pg-btn:active {
  background: darkred;
  color: white;
}

.recipe {
  min-width: 300px;
  flex: 1 1 auto;
}

.home-pg-btn {
  padding: 10px 25px;
  margin: 10px;
}

.recipe-img {
  border-radius: 10px;
  margin: 10px auto;
  padding: 20px;
  background-color: rgb(0, 48, 73);
}

.recipe-card {
  background-color: rgb(120, 0, 0);
  width: 50%;
  padding: 20px;
  border-radius: 10px;
}

.recipe-descr,
.recipe-ingr,
.recipe-steps,
.recipe-extra {
  border-radius: 10px;
  background-color: rgb(193, 18, 31);
  color: rgb(253, 240, 213);
  padding: 10px;
  margin: 10px;
}
